---
title: 'Cross Point Data | Home | Oklahoma'
description: 'Meta description for the page'
preloadImg: '/assets/images/together_portrait_nobg.png'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1204">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Cross Point Data</span>
            <h1 class="cs-title">Residential and Commercial Real Estate Analytics</h1>
            <p class="cs-text">
                Find better data analysis here
            </p>
            <a href="https://app.datacrosspoint.com/properties/viewall" class="cs-button-solid">Get Started</a>
        </div>
        <!--To make your own background crops of people use https://www.remove.bg/-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/together_portrait_nobg.png">
            <source media="(min-width: 601px)" srcset="/assets/images/together_portrait_nobg.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/together_portrait_nobg.png" alt="accountant" width="886" height="842">
        </picture>
    </div>
    <!--Floating Arrow-->
    <img class="cs-floater" aria-hidden="true" decoding="async" src="/assets/svgs/line-chart.svg" alt="accountant" width="1465" height="950">
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1204">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/house-rental.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Explore Properties</h3>
                    <p class="cs-item-text">
                        Get started for free
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/public-data.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Public County Data</h3>
                    <p class="cs-item-text">
                        Public data for counties in Oklahoma
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/price-tag.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Products</h3>
                    <p class="cs-item-text">
                        Exclusive database analysis tools
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <!-- <section id="services" class="services">
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Service 1</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Service 2</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48"/>
            </picture>
            <h2>Service 3</h2>
            <p>Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.</p>
        </div>
    </section> -->

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/background.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/background.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/background.png" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cross.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cross.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cross.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">What We Believe</h2>
                <p class="cs-text">
                    We believe in God the Father Almighty, creator of heaven and earth. We believe in Jesus Christ, his Son, our Lord, who was conceived by the Holy Spirit and born of the virgin Mary.
                </p>
                <p class="cs-text">
                    He suffered under Pontius Pilate, was crucified, died and was buried; he descended to hell. The third day he rose again from the dead. He ascended to heaven and is seated at the right hand of God the Father Almighty.
                </p>
                <p class="cs-text">
                    From there he will come to judge the living and the dead. We believe in the Holy Spirit, the holy church, the communion of saints, the forgiveness of sins, the resurrection of the body, and the life everlasting. Amen.
                </p>
                <p class="cs-text">
                    Our Mission Statement: We exist to share the message of Christ Jesus and to be faithful with the talents He has given us by pointing to the cross.
                </p>
                <!-- <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div> -->
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1304">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Real Estate Data & Ai</h2>
            </div>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/house-rental.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Property Explorer</h3>
                    <p class="cs-item-text">
                        Our comprehensive platform for exploring all of Oklahoma real estate public records, streamlined statewide.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/bar-chart.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Real Estate Cap Rates</h3>
                    <p class="cs-item-text">
                        Access real-time cap rate data to evaluate investment potential and maximize returns in the real estate market.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/for-sale.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Real Estate Listings</h3>
                    <p class="cs-item-text">
                        We offer the highest quality analysis tools for our platform partners who list their commercial or residential properties.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/browser.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Website Hosting</h3>
                    <p class="cs-item-text">
                        Professional website and listings hosting for real estate agents and brokers, showcasing properties and enhancing online visibility.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/house.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Residential AVM</h3>
                    <p class="cs-item-text">
                        Our Residential Automated Valuation Model offers Cost, Market and Income approaches to estimate value derived from mass real estate datasets.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/settings.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Systems Consulting</h3>
                    <p class="cs-item-text">
                        We provide consultation on systems with regard to their efficiency, sustainability and optimality in the valuation of Real Estate
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/web-development.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Customized SaaS</h3>
                    <p class="cs-item-text">
                        We deliver tailored software solutions to address your unique needs beyond our standard product offerings.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/search.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                    <h3 class="cs-h3">Database Analysis</h3>
                    <p class="cs-item-text">
                        We will go ahead that extra mile to ensure our clients welfare, our working hours convenient to our Client's from contact.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}